@{
    ViewBag.Title = "Редагування | Абітурієнти | DUT";
}
@model DashBoard.Models.BaseFormModel
<!-- Modal -->
<div class="modal fade" id="delModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Закрити</span></button>
                <h4 class="modal-title" id="myModalLabel">Видалення</h4>
            </div>
            @using (Ajax.BeginForm("DeleteApplicant", new AjaxOptions() {OnSuccess = "applicant.handler", OnFailure = "test"}))
            {
                @Html.AntiForgeryToken()
                <div class="modal-body">
                    @Html.HiddenFor(n => n.Id, new {id="Id"})
                    Ви дійсно бажаєте видалити абітурієнта: <span style="color: brown; font-weight: bold" id="appldel"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Скасувати</button>
                    <button type="submit" class="btn btn-primary">Видалити</button>
                </div>
            }
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Абітурієнти | Редагування</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="col-md-12"><div id="bl-search"></div></div>
                <div class="col-md-3">
                    <div class="col-md-12">
                        <a href="#" class="btn fa-ico-style" data-toggle="tooltip" data-placement="bottom" title="Експорт"><i class="fa fa-file-excel-o"></i></a>
                        <a href="#" id="btn-search" class="btn fa-ico-style" data-toggle="tooltip" data-placement="bottom" title="Пошук"><i class="fa fa-search"></i></a>
                    </div>
                    @Html.Action("LoadApplicants", "Applicant", new {count = 0});
                    <div class="col-md-12">
                        <span class="list-applicant-info"></span>
                    </div>
                </div>
                <div class="col-md-9" id="form_zero">
                    @using (Ajax.BeginForm("SaveApplicant", new AjaxOptions() {OnSuccess = "applicant.handler", OnBegin = "applicantHandlerBegin"}))
                    {
                        @Html.AntiForgeryToken()
                        <div class="x_panel">
                            <div class="x_title">Персональні дані</div>
                            <div class="x_content">
                                <div class="col-md-6 form-horizontal">
                                    <div class="form-group">
                                        @Html.Label("Id", new {@class = "control-label col-md-3"})
                                        <div class="col-md-9">@Html.TextBox("ApplicantId", "", new {@class = "form-control", placeholder = "Ідентифікатор", @readonly = "readonly"})</div>
                                    </div>
                                    <div class="form-group">
                                        @Html.Label("ПІБ", new {@class = "control-label col-md-3"})
                                        <div class="col-md-9">@Html.TextBox("NameApplicant", "", new {@class = "form-control", placeholder = "Прізвище, ім'я, по-батькові"})</div>
                                    </div>
                                    <div class="form-group">
                                        @Html.Label("Телефон", new {@class = "control-label col-md-3"})
                                        <div class="col-md-9">@Html.TextBox("PhoneApplicant", "", new {@class = "form-control", placeholder = "+380 (__) ___-__-__"})</div>
                                    </div>
                                </div>
                                <div class="col-md-6 form-horizontal">
                                    <div class="form-group">
                                        @Html.Label("Заклад", new {@class = "control-label col-md-3"})
                                        <div class="col-md-9">@Html.TextBox("SchoolCollege", "", new {@class = "form-control", placeholder = "Назва закладу"})</div>
                                    </div>
                                    <div class="form-group">
                                        @Html.Label("Адреса", new {@class = "control-label col-md-3"})
                                        <div class="col-md-9">@Html.TextBox("Address", "", new {@class = "form-control", placeholder = "Місто, вулиця, тощо..."})</div>
                                    </div>
                                    <div class="form-group">
                                        @Html.Label("Email", new {@class = "control-label col-md-3"})
                                        <div class="col-md-9">@Html.TextBox("MailApplicant", "", new {@class = "form-control", placeholder = "exaple@gmail.com"})</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="x_panel">
                            <div class="x_title">Побажання</div>
                            <div class="x_content">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.Action("GetDepartments")
                                        <div class="col-md-6">
                                            <button id="btn-add-depart" class="form-control btn-default" onclick="isNotSendClick = true">Додати</button>
                                        </div>
                                        <div class="col-md-6">
                                            <button id="btn-del-depart" class="form-control btn-default" onclick="isNotSendClick = true">Видалити</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.Hidden("Speciality")
                                        <select id="selectedListDepart" class="form-control" size="4" multiple>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="x_panel">
                            <div class="x_title">Додаткова інформація</div>
                            <div class="x_content">
                                <div class="col-md-6 form-horizontal">
                                    
                                </div>
                                <div class="col-md-6 form-horizontal">
                                    <div class="form-group">
                                        @Html.Label("Дата створення", new { @class = "control-label col-md-6" })
                                        <div class="col-md-6">@Html.TextBox("DateAdd", "", new { @class = "form-control", placeholder = "", @readonly = "readonly"})</div>
                                    </div>
                                    <div class="form-group">
                                        @Html.Label("Дата редагування", new { @class = "control-label col-md-6" })
                                        <div class="col-md-6">@Html.TextBox("DateEdit", "", new { @class = "form-control", placeholder = "" , @readonly = "readonly" })</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-md-offset-6">
                            <button id="btn-cancel" class="form-control btn-danger" style="display: none" onclick="isNotSendClick = true">Відміна</button>
                        </div>
                        <div class="col-md-3">
                            <input type="submit" id="btn-save" value="Зберегти" class="form-control btn-success" style="display: none"/>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@section ScrJquery{
    <script src="/Scripts/jquery-1.10.2.min.js"></script>
    <script src="/Scripts/BootstrapMenu.min.js"></script>
    <script src="/Scripts/jquery.maskedinput.js"></script>
    <script src="/Scripts/dut-applicant.js"></script>
    <script>
        function test(s) {
            alert(0);
        }
    </script>
}
<style>
    #list-applicant {
        overflow: auto;
        border: 0;
        outline: 0;
        width: 100%;
        padding-right: 5px;
    }

    #list-applicant > option:nth-child(even) {
        background-color: #EEEEEE;
    }

    #list-applicant > option {
        margin: 0;
        padding: 5px;
        color: #73879c;
    }

    #list-applicant > option:hover {
        background-color: #73879c;
        color: white;
    }

    .list-special {
        width: 100%;
        border: none;
    }

    .state-icon {
        left: -5px;
    }
    .list-group-item-primary {
        color: rgb(255, 255, 255);
        background-color: rgb(66, 139, 202);
    }

    .fa-ico-style {
        border-bottom: 1px solid #73879c
    }
</style>

